* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

/* creando estilos de barra de navegacion  */
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0px;
}

/* imagen de navegacion */
.nav-brand {
  width: 50px;
  align-items: center;
}

/* navegacion botones */
.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}
/* Titulo del nav */
.nav-main p {
  flex: 1;
  margin-left: 20px;
  font-weight: bolder;
  font-size: 25px;
}

/* estilo a botones nav */
.nav-main ul li a {
  color: black;
}
.nav-main ul li a:hover {
  border-bottom: 2px solid blue;
  color: blue;
  font-weight: bolder;
}

/* estilos para footer  de la pagina */
.footer {
  background-color: #f5f5f5;
  padding: 20px;
  font-size: 20px;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap singnifica espaciado interno de cada grilla */
  gap: 25px;
  margin-bottom: 10px;
}
.footer-row > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ESTILO PARA SHOW-LAST-VIDEO */

#show-last-video {
  margin: 10px 0px 0px 0px;
  background-image: url(/assets/logos-y-marca/banner-youtube.png);
  background-size: 100%;
  background-position: center;
  height: 350px;
  border-radius: 20px;
}
#show-last-video > * {
  border-radius: 20px;
}

.gradiente {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.95)
  );
  width: 100%;
  height: 100%;
}

#show-last-video > div > h2 {
  padding: 150px 10px 0px;
}

#show-last-video > div > * {
  color: white;
  padding: 0px 20px;
  text-shadow: black 2px 2px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

#show-last-video > div > a {
  justify-content: flex-end;
}
#show-last-video > div > a:hover {
  color: red;
}
#show-last-video > div > a > i {
  padding: 0px 10px;
}

/* clase boton */
.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 10px;
  background-color: blue;
  color: white;
  font-size: 15px;
  border: 1px solid white;
}
.btn:hover {
  background-color: rgba(255, 255, 255);
  color: blue;
  border: blue 1px solid;
  border-radius: 2px;
}

/* Clase cards Video */
.video-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap singnifica espaciado interno de cada grilla */
  gap: 25px;
  margin-bottom: 10px;
}

.video-cards img {
  width: 100%;
  height: 180px;
}

.video-cards h3 {
  font-size: 20px;
  font-weight: bold;
}

.video-cards-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* Clase para estilo de redes sociales*/
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  font-size: 150px;
}
.social #fb {
  color: #3b5998;
}
.social #tw {
  color: #1da1f2;
}
.social #yt {
  color: #ff0000;
}
.social #ig {
  color: #e1306c;
}
.social a :hover {
  border-bottom: blue solid 2px;
}
