* {
  font-family: sans-serif;
  /* margin: 100px; */
}

.elements-float-left > * {
  float: left;
}

.elements-float-right > * {
  float: right;
}
.elements-inline > * {
  display: inline;
}

.fixed {
  position: fixed;
}

.header-sticky-top {
  background-color: #6d6d6dee;
  position: sticky;
  top: 0;
}

.header-logo > img {
  /* width: 50px;
  height: 50px; */
  /* Responsivo?? */
  width: 5%;
}

.header-button > a {
  padding: 10px;
  text-decoration: none;
  background-color: khaki;
  margin: 3px;
  border-radius: 5px;
}

.header-title {
}
